<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		IPAi2eADYxJm78k/88kdlLgv4AJI7I8xDkrEmKyiwPFvyeGga1lWdmU0U9n+
		qR4D
		</data>
	</dict>
</dict>
</plist>
