<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		ebdwd6iHtvO/oHEMSwB0Ihk6BaACLSB29atb2+UDYkj3/r0tGAX7bo23UnHx
		aB3L
		</data>
	</dict>
</dict>
</plist>
