<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		bs31z+ddLwrBljYcyZpuHj3dtyRjWwWgHSJC33UaTSJt1zRLAqnBfgtFiGX4
		H22D
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		J1zJJBZWhoAfR0flZB99IKzR9N0b8fKSP/jgIYk34JDUTyx12dNSKMm2VEky
		UsTi
		</data>
	</dict>
</dict>
</plist>
