<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		AHjwbTCWaK7laGR10NU1MFK9nI22TG9tgMu6hm8XGnEenUTYsFjtTboTdoac
		8F7t
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		fKdoSmfZuflelgkOBZVVTDq1kwRdqS3qpS5RaffcrbOiO4fHmYKk6qMdblk6
		75Jx
		</data>
	</dict>
</dict>
</plist>
