<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		NENFv3LUQYvo+/IkzAtb0OvrQPfFgo2vBeSmCK1MDTljLScCTLdQKURHGWtN
		+uNX
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		x9apO1cRsxjLUgtlUtVdNqE98jQvEr1lv2kWYd1pq0kChL2csaGH9nAeKPMc
		OrX+
		</data>
	</dict>
</dict>
</plist>
