<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		eSm46mMoM3Mrv20TlmHuKSytihU7K/KA6frQo7M36tJaufHw84/dBCQH3qgK
		iGH6
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		b3Z74z5c01lIVBWEhKm2DxX0M4xcu2SvQcdT6MWFIJfSBMoZl+505PsggksB
		55zy
		</data>
	</dict>
</dict>
</plist>
