<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		3mh9670LNkzbjiJ6AJbD7hc6SIftXaHph1UimgLQJRPXegGj2zWUE+FASnCX
		rOSR
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		fBed85UdDd8mUwnRLg2nlpwEANerIY2s2EWIZXJbEVWN9m+DsiRImwDs5nt7
		vZbf
		</data>
	</dict>
</dict>
</plist>
