<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		hwNOOXwBQA3IGISArNUxkj0ft0G5Z3O9BGjQWP828RONnQfhoVJHVgcLGlUW
		edPH
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		UeBj3+9h6LU7VndQtMx3+5obPDelOS1XCRv87gJibVe3zcgMm5Zf/gjrov7w
		djaZ
		</data>
	</dict>
</dict>
</plist>
