<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		3WIZFeONrFKA5ga+AC5WMeo9kbdeo//x0DBTunDviPv3W4gEuUvxuKz1srjd
		0R1v
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		7aAocyF6Gt24I9dUSy1aq0lR4LCGBTanIvl6zYoXuLkrX0lEYAtkCvNrEPsE
		PACS
		</data>
	</dict>
</dict>
</plist>
