<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		p78Qdy/RWkdHHJqV1Dx8l1pkT0zEAt9DNkFofro/0HPeIzuECJr6A8xnAkfw
		tKYv
		</data>
	</dict>
</dict>
</plist>
