<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		td0Xj6z8Ve3bBe+QjUUk0/rtF79Lns2cJTqcQzg8rYM7LfZSp1DOFEFGfHA5
		dCAm
		</data>
	</dict>
</dict>
</plist>
