<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		sqIKG4PMh0Dj9EiDDPWvVZ/VrJGTjgqk+HVRuM1cRDY7Uq0YjAjBtLSaUptM
		DQB1
		</data>
	</dict>
</dict>
</plist>
