<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		dk6Jbl4D8wsNaDYCo98p4R3GuRKzX66Ir4U8ut661Oowu0g5pMm+uEwLi4np
		eQK/
		</data>
	</dict>
</dict>
</plist>
