<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		wN/+Xze9L1ySLjbGHN1kN7lo0LdHbqmq2leSQUBQgXQc653ufR3uWhoE5Gjv
		GTz8
		</data>
	</dict>
</dict>
</plist>
