<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		dBureKf9SlEWYdFYqgC6LPFLyMpzt2ghFPYfa/KAaPyjmTKvDXq7HHHtIU8h
		Ji63
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		XnSJmCl/rE0MD0yO4pob9nijiDQngU3+e2EBJIKTkM/t7P9DlaNG0tb8v5wv
		mJQU
		</data>
	</dict>
</dict>
</plist>
