<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		oExG8U5EihwYqLiC3JvKr0keHt5OBO7+wiAY+JX0R44SyDn639PDcuikUSHC
		KqT3
		</data>
	</dict>
</dict>
</plist>
