<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		8P9TK+XsaGfurMGyYZ3oJabhBDOIU+6oDNfnDOf7aEoFy/7mjMIXlmAxJ2Mu
		a4xp
		</data>
	</dict>
</dict>
</plist>
