<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		wBRZpKOD6DUXUXWD+Yo+LB7SUCO8R8GANxQ94GQ5PWVgGivLXvYOvDdHKRsQ
		AxNy
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		2KBUhWBmS7qKJib+YaKP+bGbS129fe0GRt6CS3uidLZY2sGwLzgqnFDICOcg
		6+Dv
		</data>
	</dict>
</dict>
</plist>
