<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		5Qc2MKv0HfwtU+DC9YDaj+QAG4H3GVBUDczFGn8c3NcfbdP0OlnbrGD4lzVG
		AB1x
		</data>
	</dict>
</dict>
</plist>
