<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		5JNuCwQjiDfc8S+kAKcemowLj0b/GSyoPH5mQWnFlOFPDdiSHxE+wTCmfQ1b
		D2a1
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		UDaChSV+3h+qLbLqam4rkPk5X//BnVPxTMOk7A0Alp1h30cuvdqGHaUOmaIb
		lcAk
		</data>
	</dict>
</dict>
</plist>
