<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		2NK3et1HUGvPM+IElE0Iatck+BfA1c8XCKIsfbzEb+AsrYLqZCm2WTYMMTA5
		mLcq
		</data>
	</dict>
</dict>
</plist>
