<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		dKeUmCgA3jCgmRcnBLNWQVmVIqivw7mdecU/YqZWcVWcPwGDE8+CYOmWUp3g
		dRrE
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		PX3mahyw7SdEUgyyqUpXDrxgcBrHIC7yL2KqFT9W+pcJk4GBx8iRqiiB+Xrr
		YmvJ
		</data>
	</dict>
</dict>
</plist>
