<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		BPFHcqnKJxPIl8b2hHLKpKDHHLXodowWr7Nr+/3pfKOzCV/RcrC6ZNk9mdNx
		fjfI
		</data>
	</dict>
</dict>
</plist>
